{{ form_start(form) }}

{#{{ form_widget(form) }}#}

{#NAME: {{ form_widget(form.name) }}<br>#}
{{ form_errors(form.name) }}
STATUS: {{ form_widget(form.status) }}<br>
DESCRIPTION: {{ form_widget(form.description) }}<br>

<input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>

{#{{ form_rest(form) }}#}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
